<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/fhanimkhudri/" target="_blank">fhanimkhudri</a></p>
<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/farradillah-hanim-khudri-b4334121" target="_blank">farradillah-hanim-khudri</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:farradillah.hanim@gmail.com" target="_blank">farradillah.hanim@gmail.com</a></p>
<p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:+60193930782" target="_blank">+60193930782</a></p>
